
.note {
    padding: 25px;
    height: 270px;
    /* min-height: 200px;
*/    width: 80%;
    /* min-width: 200px;  */
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 176, 145);
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
    /* box-shadow: 0px 0px 14px rgb(228, 228, 228); */
    transition: all ease-out .2s;


}
.note:hover{
    transform: scale(102%);
    transition: all ease-in .1s;
    /* box-shadow: 0px 0px 14px rgb(203, 203, 203); */

}
.note_text{
    flex: 1;
    resize: none;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.875rem;
    border: none;
   
}


@media (max-width :596px) {
    .note{
        width: 98%;
    }
}

.trash{
    opacity: 0;
    transition: all ease .2s;
}
.note:hover .trash{
    opacity: 100%;
    cursor: pointer;
    transition: all ease .2s;


}