.noteContainer {
    height: 100%;
    width: 100%;
}
/* 
.noteContainer_notes {
   padding: 10px;
    height: 90%;
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: scroll;
} */
.noteContainer_notes{
    display: block;
}

.empty-state {
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.custom-scroll::-webkit-scrollbar {
    width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: lightgray;
    transition: 300ms;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

.dark .custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.5);
}

.dark .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.7);
}